doctype html
html
    head
        title= title
        link(rel='stylesheet', href='style.css')
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='main.js')
        script(src='socket.io.js')

    body
        div(class='top')
            div(class='header')
                a(href='/' style='color: white') Nothene's Chatroom
        div(class='content')
            div(class='sidebar' id='side')
                a(href='/') Home <br>
                a(href='/showlog') ShowLog
            div(class='chat')
                block content
        div(class='footer')
            All Rights Reserved
