doctype html

html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='style.css')
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(type="module" src='main.js')
        script(src='socket.io.js')

    body
        div(id='login_form')
            div(id='square')
                div(class='square_login') Guest Log In
                form(action='/auth' id='guest_login' method='POST')
                    input(class="login_input_box" type="text" name="guest_name" placeholder="Enter your guest name..." autocomplete="off" autofocus)
                    input(class="login_submit_box" type="submit" title="Submit")
                br
                br
                div(class='square_login') User Log In
                form(action='/login' id='guest_login' method='POST')
                    input(class="login_input_box" type="text" name="username" placeholder="Enter your ID" autocomplete="off" autofocus)
                    input(class="login_input_box" type="text" name="password" placeholder="Enter your Password" autocomplete="off" autofocus)
                    input(class="login_submit_box" type="submit" title="Login")              
                       
                div(class='square_login') -- Register --
                form(action='/register' id='register' method='POST')
                    input(class="login_input_box" type="text" name="username" placeholder="Enter your ID" autocomplete="off" autofocus)
                    input(class="login_input_box" type="text" name="password" placeholder="Enter your Password" autocomplete="off" autofocus)
                    input(class="login_submit_box" type="submit" title="Register")              
                                          
        div(class='header')
            div(id='nav') &#9776;
            div()
                a(href='/') Nothene's Chatroom
            div(id='login') Login
            div(id='logout') Logout
        div(class='content')
            div(class='sidebar' id='side')
                div(class='menu')
                    a(href='/') Home <br>
                    a(href='/showlog') ShowLog
                div(class='room')
                    div hello
                    //- block rooms
            div(class='chat' id='chat')
                block content
        div(class='footer')
            block login_status
