extends layout

block content
    div(class='a')
        ul(id='logs')
            li= 'Logged in as ' + username
            li= 'There is ' + data.count + ' messages logged'
            each e in data.texts
                li= e.message