<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Nothene's Chatroom</title>
  </head>
  <script src="socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="main.js"></script>  
  <body>
    <div class="top">
      <div class="header"><a href="/">Nothene's Chatroom</a></div>
      <button id="showlog" class="button">Show Log</button>
    </div>
    <div class="a">
      <ul id="messages"></ul>
    </div>
  </body>
</html>