* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3e6ff;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    /* margin: 10px 10px 10px 10px; */
    padding: 5px;
    word-wrap: break-word;
}

li {
    padding: 10px;
    border-radius: 5px;
}

.input-box {
    line-height: 2em;
    margin: 10px;
    border: 0;
    width: 80%;
    background: paleturquoise;
    border-radius: 5px;
    padding: 10px;
}

.submit-box {
    line-height: 2em;
    margin: 10px;
    border: 0;
    background: paleturquoise;
    border-radius: 5px;
    padding: 10px;
}

#messages li:nth-child(odd){
    background-color: #D9BAEF;
}

.b {
    position: sticky;
    top: 0;
}

.top {
    grid-row: 1;
    background-color: #8000FF;
    text-align: left;
    padding: 10px;
    font-size: 14pt;
    justify-content: space-evenly;
    display: flex;
}

.header {
    color: white;
}

.button {
    color: black;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
}
